body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

nav {
  background: #061c2d;
  display: flex;
  align-items: center;
  padding: 12px 20px;
}

nav img {
  height: 40px;
  margin-right: 20px;
}

nav a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-size: 18px;
}

nav a.right {
  margin-left: auto;
}

.hero {
  height: 350px;
  background: linear-gradient(to right, #aaa, #eee);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
}

.container {
  padding: 30px;
}

.product {
  background: white;
  padding: 15px;
  border-radius: 8px;
  width: 220px;
}

.products {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

button {
  background: #25D366;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

input {
  padding: 8px;
  width: 250px;
  margin-bottom: 10px;
}
